*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    display: block;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 460;
    letter-spacing:-.022em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
}
nav{
    display: flex;
    height: 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
nav ul{
    display: flex;

}
nav ul{
    text-decoration: none;
    list-style: none;
}
nav ul li a{
    padding: 20px;
    color:white;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-family: inherit;
    position: relative;
   
}
nav ul li a::after{
    content:"";
    height:2px;
    width: 0;
    background:white;
    position: absolute;
    left: 0;
    bottom: 13px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
    color:white;
}
i{
    color:white;
    padding: 16px;
}
.shooping{
    color:white;
}
.ipad h1{
    color: aliceblue;
    margin-top:5%;
    text-align: center;
    align-items: center;
    font-size:80px;
}
.ipad h4{
    margin-top: -3%;
    text-align: center;
    align-items: center;
    background: -webkit-linear-gradient(0deg,#be22ff 20%,#ff279c 50%,#ff981f 80%);
    background-image: -webkit-linear-gradient(0deg, rgb(190, 34, 255) 20%, rgb(255, 39, 156) 50%, rgb(255, 152, 31) 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 60px;
}
.ipad img{
    margin-left: 45%;
}
.hero img{
    width: 90%;
    margin-top:-1%;
    margin-left:5%;
}
.hero p{
    width: 50%;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    align-items: center;
    margin-top:-10%;
    margin-left:25%;
    line-height: 1.1;
    font-weight:300;

}
.hero2 img{
    width:100%;
    height:100vh;
}
.hero2 h2{
    margin-top: 5%;
    color: aliceblue;
    font-size: 80px;
    text-align: center;
    align-items: center;
    line-height:1.1;

}
#hero3 img{
    
    margin-left:10%;
    
}
.hero4 img{
    margin-top: 10%;
    margin-left:20%;

}
.hero4 p{
    width: 50%;
    color: #cecece;
    align-items: center;
    margin-top: 5%;
    margin-left:25%;
}

hr{
    margin-top:10%;
    width: 70%;
    margin-left:15%;
    color: #bbbbbb;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	margin-top:10%;
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom:10px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}













