 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    display: block;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 460;
    letter-spacing:-.022em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
}
nav{
    display: flex;
    height: 45px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
nav ul{
    display: flex;

}
nav ul{
    text-decoration: none;
    list-style: none;
}
nav ul li a{
    padding: 20px;
    color:whitesmoke;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-family: inherit;
    position: relative;
   
}
nav ul li a::after{
    content:"";
    height:2px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: 13px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
    color:whitesmoke;
}
 
.display img{
    width:80%;
    top:20%;
    margin-left: 10%;
  
}
i{
    color: white;
    padding: 16px;
}
.shooping{
    color: white;
}
h1 {
    margin-top:10%;
    margin-bottom: 10px;
        text-align: center;
        font-size:80px;
        color: aliceblue;

}
h2{
    margin-top:-2%;
    font-size: 60px;
    color: aliceblue;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.link{
    margin-top:-1%;
    text-align: center;
    padding: 20px;
}
.link span{
    padding: 15px;
}
.link a{
    color:#2997ff;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif ;
    font-size: 21px;
    text-decoration: none;
}
.link a:hover{
    cursor: pointer;
}

hr{
    margin-top: 15%;
    width: 70%;
    margin-left: 15%;
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	margin-top:10%;
	font-size: 16px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom:10px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}












