.container{
    background-color:red; 
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 /* grid-template-columns: 20% 20% 20% 20%;*/
}
.ch{
    background-color: #ff6700;
    padding: 20px;
    margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
}
.ch1{
    background-color:#ff6700;
    padding: 20px;
   margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-column-start: 1 ;
    grid-column-end: 4;
    
}
.ch3{
    background-color: #ff6700;
    padding: 20px;
 margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-row-start: 2 ;
    grid-row-end: 4;
    
}

.ch7{
    background-color: #ff6700;
    padding: 20px;
  margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-column-start: 2 ;
    grid-column-end: 4;
    
}
.ch9{
    background-color: #ff6700;
    padding: 20px;
    margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-column-start: 1 ;
    grid-column-end: 5;
    
}
.ch9{
    background-color: #ff6700;
    padding: 20px;
   margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-column-start: 1 ;
    grid-column-end: 5;
}
.ch10{
    background-color: #ff6700;
    padding: 20px;
    margin: 10px;
   justify-content: center;
   display: grid;
   align-items: center;
    color: antiquewhite;
    grid-column-start: 1 ;
    grid-column-end: 3;
}